*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  background-color: #130f40;
  color: white;
  padding: 10px;
  width: 100vw;
}

.stack{
  margin-top: 10px;
}

.tasks{
  margin-top: 20px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 572px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
}
.tasks p{
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}



